@model KorisnikDetaljiVM
@{
    ViewData["Title"] = "Detalji";
}

<h2>Detalji</h2>

<div class="d-flex mt-4">
    <div class="w-50">
        <dl>
            <dt class="w-100">
                @*<img src="~/images/Poslovnice/@Model.SlikaUrl" class="img-thumbnail" />*@
            </dt>
        </dl>
    </div>

    <div class="ml-5 w-50">

        <dl class="w-100 h-100">
            <div class="row mb-3">

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Ime)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Ime)

                </dd>
            </div>
            <div class="row mb-3">

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Prezime)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Prezime)

                </dd>
            </div>
            <div class="row mb-3">

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DatumRodjenja)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DatumRodjenja)
                </dd>
            </div>
            <div class="row mb-3">

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Grad)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Grad)
                </dd>
            </div>

            <div class="row mb-3">

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Adresa)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Adresa)
                </dd>
            </div>

            <div class="row mb-3">

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.KontaktTelefon)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.KontaktTelefon)
                </dd>
            </div>

        </dl>

        <a asp-action="Index" class="float-lg-left btn btn-outline-danger mr-2">Vrati se nazad</a>

    </div>
</div>