@model AutomobilDetaljiVM
@{
    ViewData["Title"] = "Detalji";
    string xy = Model.div;

}

<dd>
    @Html.HiddenFor(model => model.AutomobilID)
</dd>
<div class="d-flex mt-4">
    <div class="w-50">
        <dl >
            <dt class="w-100">
                <img src="~/images/Automobili/@Model.SlikaURL" class="img-thumbnail" />
            </dt>
        </dl>
    </div>
    <div class="ml-5 w-50">
        <div class="container w-100 h-100">
            <div class="row w-100 h-100">


                <div class="col-sm-4">

                    <div>
                        <dt>

                            <label asp-for="Proizvodjac" class="text-dark">Proizvođač: </label>
                        </dt>
                        <dd>
                            <p>@Model.Proizvodjac</p>
                        </dd>
                    </div>

                    <div>
                        <dt>
                            <label asp-for="GodinaProizvodnje" class="text-dark">Godište: </label>
                        </dt>
                        <dd>
                            <p>@Model.GodinaProizvodnje</p>
                        </dd>
                    </div>

                    <div>
                        <dt>
                            <label asp-for="Gorivo" class="text-dark">Gorivo: </label>
                        </dt>
                        <dd>
                            <p>@Model.Gorivo</p>
                        </dd>
                    </div>

                    <div>
                        <dt>
                            <label asp-for="Transmisija" class="text-dark">Transmisija: </label>
                        </dt>
                        <dd>
                            <p>@Model.Transmisija</p>
                        </dd>
                    </div>

                    <div>
                        <dt>
                            <label asp-for="Pogon" class="text-dark">Pogon: </label>
                        </dt>
                        <dd>
                            <p>@Model.Pogon</p>
                        </dd>
                    </div>

                    <div>
                        <dt>
                            <label asp-for="Kilovati" class="text-dark">Kilovati: </label>
                        </dt>
                        <dd>
                            <p>@Model.Kilovati kW</p>
                        </dd>
                    </div>

                    <div>
                        <dt>
                            <label asp-for="Kilometraza" class="text-dark">Kilometraža: </label>
                        </dt>
                        <dd>
                            <p>@Model.Kilometraza KM</p>
                        </dd>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div>
                        <dt>
                            <label asp-for="Model" class="text-dark">Model: </label>
                        </dt>
                        <dd>
                            <p>@Model.Model</p>

                        </dd>
                    </div>
                    <div>
                        <dt>
                            <label asp-for="Boja" class="text-dark">Boja: </label>
                        </dt>
                        <dd>
                            <p>@Model.Boja</p>

                        </dd>
                    </div>

                    <div>
                        <dt>
                            <label asp-for="VelicinaFelgi" class="text-dark">Veličina felgi: </label>
                        </dt>
                        <dd>
                            <p>@Model.VelicinaFelgi "</p>

                        </dd>
                    </div>

                    <div>
                        <dt>
                            <label asp-for="BrojSjedista" class="text-dark">Broj sjedišta: </label>
                        </dt>
                        <dd>
                            <p>@Model.BrojSjedista</p>

                        </dd>
                    </div>

                    <div>
                        <dt>
                            <label asp-for="BrojVrata" class="text-dark">Broj vrata: </label>
                        </dt>
                        <dd>
                            <p>@Model.BrojVrata</p>

                        </dd>
                    </div>

                    <div>
                        <dt>
                            <label asp-for="Tezina" class="text-dark">Težina: </label>
                        </dt>
                        <dd>
                            <p>@Model.Tezina kg</p>

                        </dd>
                    </div>

                    <div>
                        <dt>
                            <label asp-for="Kubikaza" class="text-dark">Kubikaža: </label>
                        </dt>
                        <dd>
                            <p>@Model.Kubikaza </p>

                        </dd>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div>
                        <dt>
                            <label asp-for="Tip" class="text-dark">Tip: </label>
                        </dt>
                        <dd>
                            <p>@Model.Tip</p>

                        </dd>
                    </div>
                    <div>
                        <dt>
                            <label asp-for="EmisioniStandard" class="text-dark">Emisioni standard: </label>
                        </dt>
                        <dd>
                            <p>@Model.EmisioniStandard</p>

                        </dd>
                    </div>

                    <div>
                        <dt>
                            <label asp-for="Dostupan" class="text-dark">Dostupan: </label>
                        </dt>
                        <dd>
                            <p>
                                @{
                                    if (Model.Dostupan == true)
                                    { <span>DA</span>}
                                    else
                                    { <span>NE</span>}
                                }
                            </p>

                        </dd>
                    </div>
                    <div>
                        <dt>
                            <label asp-for="Novo" class="text-dark">Novo: </label>
                        </dt>
                        <dd>
                            <p>
                                @{
                                    if (Model.Novo == true)
                                    {<span>DA</span>}
                                    else
                                    { <span> NE </span>}

                                }
                            </p>


                        </dd>
                    </div>
                    <div>
                        <dt>
                            <label asp-for="Cijena" class="text-dark">Cijena: </label>
                        </dt>
                        <dd>
                            <p>@Model.Cijena</p>

                        </dd>
                    </div>
                    <div>
                        <dt>
                            <label asp-for="CijenaRentanja" class="text-dark">Cijena rentanja: </label>
                        </dt>
                        <dd>
                            <p>@Model.CijenaRentanja</p>

                        </dd>
                    </div>
                </div>
            </div>


        </div>
        @if (User.IsInRole("Administrator") || User.IsInRole("Uposlenik"))
        {
            <a asp-action="Uredi" asp-route-AutomobilID="@Model.AutomobilID" class="btn btn-outline-warning ml-5">Uredi</a>
            <a asp-action="Index" class="float-lg-left btn btn-outline-danger mr-2">Vrati se nazad</a>
        }
        @if (User.IsInRole("Korisnik"))
        {
            
            @*<button class="btn btn-outline-warning ml-5" onclick="sakrijDiv(xy)">Sakrij</button>*@
        }

    </div>
</div>