@model AutomobilIndexVM
@{
    ViewData["Title"] = "Index";
}
<h1></h1>

<a asp-action="Dodaj" class="btn btn-primary">Novi automobil</a>
<br />
<br />
<br />
<form class="form-inline" asp-action="Index" asp-route-ProizvodjacID="@Model.ProizvodjacID">
    <select asp-for="@Model.ProizvodjacID" asp-items="@Model.Proizvodjaci" class="form-control"></select>
    <button type="submit" class="btn btn-default">Traži</button>
</form>
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Model</th>
            <th>Proizvodjač</th>
            <th>Godina proizvodnje</th>
            <th>Dostupan</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rows)
        {
            <tr>
                <td><img src="~/images/@item.SlikaURL" width="120" /></td>
                <td>@item.Model</td>
                <td>@item.Proizvodjac</td>
                <td>@item.GodinaProizvodnje</td>
                @if (item.Dostupan)
                {
                    <td>
                        <p class="btn-success">Da</p>
                    </td>
                }
                else
                {
                    <td><a class="btn-danger">Nije dostupan</a></td>

                }
                <td>@item.Cijena</td>
                <td>
                    <a asp-action="Detalji" asp-route-AutomobilID="@item.AutomobilID" class="btn btn-info">Detalji</a>
                    <a asp-action="Uredi" asp-route-AutomobilID="@item.AutomobilID" class="btn btn-warning">Uredi</a>
                    <a asp-action="Ukloni" asp-route-AutomobilID="@item.AutomobilID" class="btn btn-danger">Ukloni</a>
                </td>

            </tr>
        }
    </tbody>
</table>