@model AutomobilIndexVM
@{
    ViewData["Title"] = "Index";
}
<h1></h1>

<a asp-action="Dodaj" class="btn btn-primary">Novi automobil</a>
<br />
<br />
<br />
<form class="form-inline" asp-action="Index" asp-route-ProizvodjacID="@Model.ProizvodjacID">
    <select asp-for="@Model.ProizvodjacID" asp-items="@Model.Proizvodjaci" class="form-control"></select>
    <button type="submit" class="btn btn-success">Traži</button>
</form>
<br />
<div class="container">
    <div class="row">

        @foreach (var item in Model.Rows)
        {

            <div class="card-deck col-3 ">

                <!-- Card -->
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="~/images/Automobili/@item.SlikaURL" alt="@item.SlikaURL">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title text-white">@item.Proizvodjac  @item.Model</h4>
                        <!--Text-->
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Godište: @item.GodinaProizvodnje</li>
                            <li class="list-group-item">Cijena: @item.Cijena KM</li>
                            @if (item.Stanje == "Novo")
                            {
                                <li class="list-group-item text-success">Novo vozilo </li>
                            }
                            else
                            {
                                <li class="list-group-item text-info">Korišteno vozilo </li>
                            }
                        </ul>
                        <div class="mt-3 ml-5">
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <a asp-action="Detalji" asp-route-AutomobilID="@item.AutomobilID" class="btn btn-outline-dark text-white ml-5">Detalji</a>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>

