@model AutomobilIndexVM


@{

    string x = "";
}

<h2>Dostupna Vozila</h2>

<div class="container">
    <div class="row">

        @foreach (var item in Model.Rows)
        {
            x = item.Stanje;
            <div class="card-deck col-sm-3 w-100 h-100">

                <div class="card  ml-0 mb-4">

                    <div class="view overlay w-100 h-100">
                        <img class="card-img-top w-100 h-100" src="~/images/Automobili/@item.SlikaURL" alt="@item.SlikaURL">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body ">

                        <h4 class="card-title text-white">@item.Proizvodjac - @item.Model</h4>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Godište: @item.GodinaProizvodnje</li>
                            <li class="list-group-item">Cijena: @item.Cijena </li>
                            <li class="list-group-item">Boja: @item.Boja </li>

                            @if (item.Stanje == "Novo")
                            {
                                <li class="list-group-item text-success">Novo</li>
                            }
                            else
                            {
                                <li class="list-group-item text-info">Korišteno</li>
                            }
                        </ul>
                        <div class="mt-3 ml-5">

                            <a asp-controller="Automobil" asp-action="Detalji" asp-route-AutomobilID="@item.AutomobilID" asp-route-partial="true" class="btn btn-outline-dark text-white ml-5" ajax-poziv="da" ajax-rezultat="divDetalji">Detalji</a>

                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
<div id="divDetalji"></div>
<a asp-action="VozilaUDolasku" asp-route-Stanje="@x" ajax-poziv="da" ajax-rezultat="divVUD"><h2>Vozila u dolasku</h2></a>
<div id="divVUD"></div>
<div id="divVUDD"></div>


