@model PoslovnicaIndexVM

@{
    ViewData["Title"] = "Index";
}

<h2>Poslovnice</h2>

<p>
    <a asp-action="Dodaj" asp-controller="Poslovnica" class="btn btn-primary">Dodaj novu</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Naziv poslovnice</th>
            <th>Naziv grada</th>
            <th>Adresa poslovnice</th>
            <th>Kontakt telefon</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Rows)
        {
        <tr>
            <td>@item.Naziv</td>
            <td>@item.Grad</td>
            <td>@item.Adresa</td>
            <td>@item.KontaktTelefon</td>
            <td>
                <a asp-action="Detalji" asp-controller="Poslovnica" asp-route-PoslovnicaID="@item.PoslovnicaId" class="btn btn-info">Detalji</a>
                <a asp-action="Uredi" asp-controller="Poslovnica" asp-route-PoslovnicaID="@item.PoslovnicaId" class="btn btn-warning">Uredi</a>
                <a asp-action="Ukloni" asp-controller="Poslovnica" asp-route-PoslovnicaID="@item.PoslovnicaId" class="btn btn-danger">Ukloni</a>
            </td>
        </tr>
        }
    </tbody>

</table>

