@model PoslovnicaIndexVM

@{
    ViewData["Title"] = "Index";
}

<h2></h2>
<a asp-action="Dodaj" asp-controller="Poslovnica" class="btn btn-primary">Nova poslovnica</a>
<br />
<br />
<br />
<form class="form-inline" asp-action="Index" asp-route-GradID="@Model.GradID">
    <div class="form-group">
        <select asp-for="@Model.GradID" asp-items="@Model.Gradovi" class="form-control"></select>

        <button type="submit" class="btn btn-success">Traži</button>
    </div>
</form>
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Naziv poslovnice</th>
            <th>Naziv grada</th>
            <th>Adresa poslovnice</th>
            <th>Kontakt telefon</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Rows)
        {

            <tr>

                <td>@item.Naziv</td>
                <td>@item.Grad</td>
                <td>@item.Adresa</td>
                <td>@item.KontaktTelefon</td>
                <td>
                    <a asp-action="Detalji" asp-controller="Poslovnica" asp-route-PoslovnicaID="@item.PoslovnicaId" class="btn btn-info">Detalji</a>
                    <a asp-action="Uredi" asp-controller="Poslovnica" asp-route-PoslovnicaID="@item.PoslovnicaId" class="btn btn-warning">Uredi</a>
                    <a asp-action="Ukloni" asp-controller="Poslovnica" asp-route-PoslovnicaID="@item.PoslovnicaId" class="btn btn-danger">Ukloni</a>
                </td>
            </tr>



        }
    </tbody>

</table>

