@model AutomobilRent
@{
    ViewData["Title"] = "Index";
}
@{ if (Model.TuristDest != "ne")
    {
        <h2>Izaberite jedan od ponudjenih automobila smjestenih u @Model.TuristDest -u</h2>

    }
    else
    {
        <h2>Izaberite jedan od ponudjenih automobila i krenite na nezaboravnu avanturu !</h2>
    }
}

<hr />
<div id="datumRezervacijeLD">
    <div class="datumL" >
        <label>Izaberite datum preuzimanja :</label>
        <input class="form-control "type="date" />
    </div>
    <div class="datumD">
        <label>Izaberite datum vracanja :</label><br />
        <input  class="form-control " type="date" />
    </div>
</div>

<div id="IznajmiFilter" class="container">

    <button onclick="prikaziDiv()" class="btn btn-danger">Filtriraj</button>
</div>
    <div id="prikaziSakrijDIV" style="display:none;" class="container">

        <form asp-action="Index" asp-route-ProizvodjacID="@Model.ProizvodjacID" asp-route-PoslovnicaID="@Model.PoslovnicaID" asp-route-GorivoID="@Model.GorivoID"
              asp-route-PogonID="@Model.PogonID" asp-route-TransmisijaID="@Model.TransmisijaID" asp-route-EmisioniStandardID="@Model.EmisioniStandardID">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <span >Proizvođač : </span><br />
                    <select asp-for="ProizvodjacID" asp-items="@Model.Proizvodjaci" class="form-control "></select>
                </div>
                <div class="form-group col-md-4">
                    <span >Poslovnica : </span><br />
                    <select asp-for="PoslovnicaID" asp-items="@Model.Poslovnice" class="form-control "></select>
                </div>
                <div class="form-group col-md-4">
                    <span >Gorivo : </span>
                    <select asp-for="GorivoID" asp-items="@Model.Goriva" class="form-control "></select>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <span >Pogon : </span>
                    <select asp-for="PogonID" asp-items="@Model.Pogoni" class="form-control "></select>
                </div>
                <div class="form-group col-md-4">
                    <span >Transmisija : </span>
                    <select asp-for="TransmisijaID" asp-items="@Model.Transmisije" class="form-control "></select>
                </div>
                <div class="form-group col-md-4">

                    <span>Emisioni standard : </span>
                    <select asp-for="EmisioniStandardID" asp-items="@Model.EmisioniStandardi" class="form-control "></select>
                </div>
            </div>



              

                <button type="submit" class="m3-3 btn btn-outline-light">Traži</button>
        </form>

    </div>




    @foreach (AutomobilRent.Auto x in Model.auta)
    {
        <div class="d-flex mt-4 bijela">

            <div class="w-50">
                <dl>
                    <dt class="w-100">
                        <img src="~/images/Automobili/@x.SlikaURL" class="img-thumbnail" />
                    </dt>
                </dl>
            </div>

            <div class="ml-5 w-50">
                <div class="container w-100 h-100 mt">
                    <div class="row w-100 h-100 kontrast ">


                        <div class="col-sm-4 ">

                            <div>
                                <dt>
                                    <label class="text-white">Proizvođač: </label>
                                </dt>
                                <dd>
                                    <p>@x.Proizvodjac</p>
                                </dd>
                            </div>

                            <div>
                                <dt>
                                    <label class="text-white">Godište: </label>
                                </dt>
                                <dd>
                                    <p>@x.GodinaProizvodnje</p>
                                </dd>
                            </div>

                            <div>
                                <dt>
                                    <label class="text-white">Gorivo: </label>
                                </dt>
                                <dd>
                                    <p>@x.Gorivo</p>
                                </dd>
                            </div>

                            <div>
                                <dt>
                                    <label class="text-white">Transmisija: </label>
                                </dt>
                                <dd>
                                    <p>@x.Transmisija</p>
                                </dd>
                            </div>



                            <div>
                                <dt>
                                    <label class="text-white">Kilovati: </label>
                                </dt>
                                <dd>
                                    <p>@x.Kilovati</p>
                                </dd>
                            </div>


                        </div>


                        <div class="col-sm-4">
                            <div>
                                <dt>
                                    <label class="text-white">Pogon: </label>
                                </dt>
                                <dd>
                                    <p>@x.Pogon</p>
                                </dd>
                            </div>
                            <div>
                                <dt>
                                    <label class="text-white">Model: </label>
                                </dt>
                                <dd>
                                    <p>@x.Model</p>

                                </dd>
                            </div>
                            <div>
                                <dt>
                                    <label class="text-white">Boja: </label>
                                </dt>
                                <dd>
                                    <p>@x.Boja</p>

                                </dd>
                            </div>



                            <div>
                                <dt>
                                    <label class="text-white">Broj sjedišta: </label>
                                </dt>
                                <dd>
                                    <p>@x.BrojSjedista</p>

                                </dd>
                            </div>

                            <div>
                                <dt>
                                    <label class="text-white">Broj vrata: </label>
                                </dt>
                                <dd>
                                    <p>@x.BrojVrata</p>

                                </dd>
                            </div>




                        </div>

                        <div class="col-sm-4">
                            <div>
                                <dt>
                                    <label class="text-white">Kubikaža: </label>
                                </dt>
                                <dd>
                                    <p>@x.Kubikaza</p>

                                </dd>
                            </div>

                            <div>
                                <dt>
                                    <label class="text-white">Emisioni standard: </label>
                                </dt>
                                <dd>
                                    <p>@x.EmisioniStandard</p>

                                </dd>
                            </div>




                            <dt>
                                <label class="text-white">Cijena po danu: </label>
                            </dt>
                            <dd>
                                <p>@x.CijenaRentanja</p>

                            </dd>
                            <div>
                                @{ if (User.Identity.IsAuthenticated)
                                    {
                                        <a asp-action="KreirajRezervaciju" asp-route-AutomobilID="@x.AutomobilID" class=" btn btn-outline-primary m-3">Kreiraj rezervaciju</a>
                                        <a asp-action="IznamiDanas" asp-route-AutomobilID="@x.AutomobilID" class=" btn btn-outline-primary m-3">Iznajmi danas !</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Register" asp-controller="Account" asp-route-korisnik="true" class=" btn aRW m-3">Registruj se i napravi rezervaciju</a>



                                    }


                                }


                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    }
   
    <div id="kraj"><button id="BtnVrh" onclick="VrhFunkcija()">Vrati se gore !</button></div>

