@using AutoSalon.Models.ViewModels.IznajmiAutomobilViewModels;
@model KreirajRezervacijuVM;
@{
    ViewData["Title"] = "KreirajRezervaciju";
}

<h2>Kreiranje rezervacije</h2>
@Html.HiddenFor(model => model.AutomobilID)
<hr />
<form asp-action="Snimi" class="container" >

    <input asp-for="AutomobilID" hidden />
    <input asp-for="PoslovnicaID" hidden />
    <input asp-for="KlijentID" hidden />
    <input asp-for="UposlenikID" hidden />
    



    <div class="form-group">
        <label>Odaberite datum preuzimanja vozila</label>
        <input asp-for="@Model.DatumPreuzimanja" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label>Odaberite datum vracanja vozila</label>
        <input asp-for="@Model.DatumVracanja" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label>Mjesto preuzimanja vozila </label>
        <label asp-for="@Model.PoslovnicaID" class="form-control">@Model.nazivPoslovnice</label>
    </div>
    <div class="form-group">
        <label>Cijena po danu : </label>
        <label asp-for="@Model.Iznos" class="form-control">@Model.Iznos</label>
        <small>Cijene su izrazene u KM</small>
    </div>
    @*<p>KlijentID: @Model.KlijentID</p>
        <p>UposlenikID: @Model.UposlenikID</p>
        <p>PoslovnicaID: @Model.PoslovnicaID</p>*@



    <div class="card-deck col-sm-3 w-100 h-100" style="float:right">

        <!-- Card -->
        <div class="card  ml-0 mb-4">

            <!--Card image-->
            <div class="view overlay w-100 h-100">
                <img class="card-img-top w-100 h-100 " src="~/images/Automobili/@Model.SlikaURL" alt="@Model.SlikaURL">
                <a href="#!">
                    <div class="mask rgba-white-slight" style="color:black"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body ">

                <!--Title-->
                <h4 class="card-title text-black-50">@Model.Proizvodjac - @Model.Model</h4>
                <!--Text-->


            </div>

        </div>
    </div>
    <h5>Dodatna Oprema</h5>
    
    <div style="margin-top:1%;height:150px">
        <div class="form-group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1" asp-for="KrovniNosaci">
            <label class="custom-control-label " for="customCheck1" asp-for="KrovniNosaci">Krovni nosaci</label>
            <small> - 15KM</small>
        </div>
        <div class="form-group  custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck2" asp-for="NosaciSkije">
            <label class="custom-control-label " for="customCheck2" asp-for="NosaciSkije">Nosaci za skije</label>
            <small> - 30KM</small>
        </div>
        <div class="form-group  custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck3" asp-for="NosaciBicikla">
            <label class="custom-control-label " for="customCheck3" asp-for="NosaciBicikla">Nosaci za bicikla</label>
            <small> - 30KM</small>
        </div>
        <div class="form-group  custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck4" asp-for="KrovniKofer">
            <label class="custom-control-label " for="customCheck4" asp-for="KrovniKofer">Krovni kofer</label>
            <small> - 30KM</small>
        </div>
        <div class="form-group  custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck5" asp-for="DjecijaSjedalica">
            <label class="custom-control-label " for="customCheck5" asp-for="DjecijaSjedalica">Djecija sjedalica</label>
            <small> - 20KM</small>
        </div>








        <br />

        <button type="submit" class="btn tPsS form-check">Potvrdi</button>
    </div>



</form>
<footer style="margin-top:10%"></footer>

