@model ProizvodjacIndexVM
@{
    ViewData["Title"] = "Index";
}
<h1></h1>

@if (User.IsInRole("Administrator") || User.IsInRole("Uposlenik"))
{
    <a asp-action="Dodaj" class="btn btn-primary">Novi proizvođač</a>
}
<form class="form-inline" asp-action="Index" asp-route-DrzavaID="@Model.DrzavaID" asp-route-nazivProizvodjaca="@Model.nazivProizvodjaca">
    <span class="mr-2">Država : </span>
    <select asp-for="DrzavaID" asp-items="@Model.Drzave" class="form-control mr-3"></select>
    <span class="mr-2">Naziv : </span>
    <input asp-for="nazivProizvodjaca" class="form-control" />
    <button type="submit" class="ml-3 btn btn-outline-info">Traži</button>
</form>
<br />
<br />
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Proizvođač</th>
            <th>Država</th>
            @if (User.IsInRole("Administrator") || User.IsInRole("Uposlenik"))
            {
                <th></th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Rows)
        {
            <tr>
                <td>@item.Naziv</td>
                <td>@item.Drzava</td>
                @if (User.IsInRole("Administrator") || User.IsInRole("Uposlenik"))
                {
                    <td>
                        <a asp-action="Detalji" asp-route-ProizvodjacID="@item.ProizvodjacID" class="btn btn-outline-danger">Detalji</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>